<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a Employee Form</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="text">Emp-Name</label>
        <input type="text" name="emp_name" id="1"><br>
        {% comment %} <input type="submit" value="Submit"> {% endcomment %}
        <label for="text">Emp email</label>
        <input type="email" name="emp_email" id="3"><br>
        <label for="text">Emp-Contact</label>
        <input type="text" name="emp_contact" id="17"><br>
        <label for="text">Emp-role</label>
        <input type="text" name="emp_role" id="177"><br
        <label for="text">Emp-Salary</label>
        <input type="text" name="emp_salary" id="817"><br>
        <label for="text">Emp-Id</label>
        <input type="text" name="emp_id" id="8817"><br>
        {% comment %} <input type="submit" value="Submit"> {% endcomment %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>